@font-face {
  font-family: "Gotham";
  src: url("../fonts/woff/Gotham-Light_Web.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Gotham";
  src: url("../fonts/woff/Gotham-LightItalic_Web.woff") format("woff");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Gotham";
  src: url("../fonts/woff/Gotham-Book_Web.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Gotham";
  src: url("../fonts/woff/Gotham-BookItalic_Web.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Gotham";
  src: url("../fonts/woff/Gotham-Medium_Web.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Gotham";
  src: url("../fonts/woff/Gotham-MediumItalic_Web.woff") format("woff");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Gotham";
  src: url("../fonts/woff/Gotham-Bold_Web.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Gotham";
  src: url("../fonts/woff/Gotham-BoldItalic_Web.woff") format("woff");
  font-weight: 600;
  font-style: italic;
}

.heading {
  font-family: "Gotham";
  font-size: 32px;
  font-weight: 400;
  line-height: 1.5rem;
  letter-spacing: 0.3rem;
  color: #ffff;
  text-decoration: none;
}

.title1 {
  font-family: "Gotham";
  font-size: 48px;
  font-weight: 400;
  line-height: 1.5rem;
  letter-spacing: 0.3rem;
  color: #ffff;
  text-decoration: none;
}
.title2 {
  font-family: "Gotham";
  font-size: 48px;
  font-weight: 500;
  line-height: 1.5rem;
  letter-spacing: 0.3rem;
  color: #ffffffb3;
  text-decoration: none;
}

.menu li a {
  font-family: "gotham";
  font-weight: 300;
  color: white; /* or any color you want for the text */
  opacity: 80%;
  text-decoration: none;
  font-size: 16px; /* adjust as needed */
}

.menu li a:hover {
  opacity: 100%;
  text-decoration: underline;
}

.table th {
  font-family: "gotham";
  font-weight: 400;
  color: white; /* or any color you want for the text */
  opacity: 80%;
  text-decoration: none;
  font-size: 20px; /* adjust as needed */
}

.table td a {
  font-family: "gotham";
  font-weight: 300;
  color: white; /* or any color you want for the text */
  opacity: 70%;
  text-decoration: none;
  font-size: 16px; /* adjust as needed */
}

.table td a:hover {
  font-family: "gotham";
  font-weight: 300;
  color: white; /* or any color you want for the text */
  opacity: 100%;
  text-decoration: underline;
  font-size: 16px; /* adjust as needed */
}
